/* Font faces */
@font-face {
 font-family: "NotoSans";
 src: url("/res/fonts/NotoSans.ttf");
}
@font-face {
 font-family: "NotoSerif";
 src: url("/res/fonts/NotoSerif.ttf");
}
@font-face {
 font-family: "Candara";
 src: url("/res/fonts/Candara.ttf");
}
@font-face {
 font-family: "Docomo";
 src: url("/res/fonts/Docomo.ttf");
}

/* Real css */
html{
  font-family: NotoSans;
  height:100%;
  font-size:11pt;
}

body{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  margin:0px;
  height:100%;

  background: linear-gradient(90deg, LIGHTEST 21px, transparent 1%) center, linear-gradient(LIGHTEST 21px, transparent 1%) center, LIGHT;
  background-size: 22px 22px;

  /*
  background:
		linear-gradient(90deg, LIGHTEST (22px - 1px), transparent 1%) center,
		linear-gradient(LIGHTEST (22px - 1px), transparent 1%) center,
    LIGHT;
  background-size: 22px 22px;
  */
}

.header{
  background-size:cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  position:relative;
}

.header h1{
  padding-left:1vw;
  font-weight:normal;
  color: rgb(255, 255, 255); 
  mix-blend-mode: difference;
}

.header .userBar, .header .searchBar{
  font-style:italic;
  color:LIGHT;
  position:absolute;
  right:20PX;
  TOP:0;
  margin:6px;
  text-align:right;
  z-index: 1;
}

.header .searchBar{
  top: auto;
  bottom:0;
  z-index: 1;
}

.header input{
  width:120px;
  margin-left:10px;
  margin-right:10px;
  background:rgba(0,0,0,0.4);
  border:1px solid DARK;
  color: LIGHT;
  font-family: inherit;
  padding-left:4px;
}

.header .searchBar input{
  width:10vw;
  border:1px solid LIGHTEST;
}

.header input[type=submit]{
  padding-left:10px;
  padding-right:10px;
  width:40px;
  cursor: pointer;
}

.header input[type=submit][name="logout"]{
  width:6vw;
}

.header #loginError{
  color:red;
  font-style: italic;
  font-weight:bold;
}

.mainContainer{
  flex-grow:1;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  width:100%;
}

.navigation{
  background-color:DARKEST_GREY;
  height:100%;
  flex: 1;
  width:auto;
  display:inline-block;
  min-width:180px;
}

.column{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}

.navigation .column{
  margin-left:0px;
  margin-right:0px;
}

.navigation .column .element{
  margin-top:2px;
  margin-bottom:5px;
  padding-left:20px;
  padding-right:10px;
}

.navigation a{
  text-decoration:none;
  color:LIGHT_GREY;
}

.navigation .selected{
  font-weight:bold;
  color:LIGHT;
}

.navigation .element:hover{
  background-color:DARK;
}

.navigation .newPageButtons{
  margin-bottom: 16px;
}

.navigation .element.newPage{
  font-style: italic;
  color:lightgreen;
}

.content .pageAddress a:hover{
  border: 1px dotted LIGHT; 
}

.navigation .sectionTitle{
  font-weight:normal;
  color:LIGHT;
  text-align:center;
  margin:0px;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:5px;
  border-bottom:1px solid DARK_GREY;
}

.content{
  flex: 6;
  padding:16px;
}

.content img{
  margin:5px;
}

.content .pageTitle{
  font-size:2.5em;
  border-bottom:1px solid DARK;
  color:DARKEST;
  padding:6px;
  margin-bottom:6px;
  position:relative;
}

.content .pageTitle .pageToolbar{
  position:absolute;
  display:block;
  bottom:-6px;
  margin:5px;
  PADDING:5px;
  right:-6px;
  font-size:12pt;
  text-transform: none;
  background-color:DARK;
}

.content .pageTitle .pageToolbar form{
  display:inline;
}

.content .anchor{
  color:inherit;
  text-decoration:none;
  font-weight:bold;
  opacity:0.2;
  float: right;
  margin-right:15px;
}

.content .anchor:hover{
  opacity: 1;
}

.pageToolbar a{
  color:LIGHTEST;
  text-decoration: none;
}
.pageToolbar a:hover{
    text-decoration:underline;
}

.pageToolbar .pageEditButton{
  margin-left:20px;
}

.content .pageSubTitle{
  font-size:1.5em;
  color:LIGHT;
  font-style: italic;
}

.content .pageAddress{
  color:LIGHT;
  font-style: italic;
}

.content .pageAddress a{
  color:inherit;
}

.content .pageAddress a.selected{
  font-weight: bold;
}

.content p, .content table{
  padding-left:8px;
  padding-right:8px;
}

.content tbody tr:nth-of-type(odd) {
  background-color:rgba(0,0,0,0.1);
}

.content h1{
  border-bottom: 1px dotted DARK;
  font-size:1.75em
}

.content h2{
  border-bottom: 1px dotted grey;
  padding:4px;
  font-size:1.25em;
}

.content h3{
  font-size: 1em;
  font-weight: bold;
  margin-bottom:10px;
}

.content code{
  PADDING:2px;
  border-radius:4px;
  color: #AA0000;
  background-color: #FFE6E68C;
}

.content pre code{
  color:inherit;
  background-color: inherit;
  border-radius:inherit;
  line-height:1.5em;
}

.cm-comment{
  font-family: monospace;
}

.content pre:not(.hljs) code{
  color: #AA0000;
  padding:15px;
  display:block;
  background-color: #FFE6E68C;
  border-radius:4px;
}

.content table td, .content table tr, .content table th{
  border:1px solid grey;
  padding:5px;
  border-spacing:0px;
  margin:0px;
}

.content table thead{
  background-color:DARK;
  color:LIGHTEST;
}

.content .fileBrowser{
  position:fixed;
  width:70%;
  height:80%;
  top:10%;
  left:15%;
  z-index:10;
  background-color:LIGHT_GREY;
  border:1px solid LIGHT;	
  box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.4);

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content .fileBrowserBackground{
  z-index: 10;
  display:block;
  position:fixed;
  left:0;
  top:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,0.4);
}

.content .fileBrowserBackground.disabled{
  display:none;
}

.content .fileBrowser #folderView{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height:85%;
  align-content: start;
}

.content .fileBrowser #folderView .entry {
  border:1px solid rgba(0,0,0,0.1);
  text-align:center;
  border-radius: 8px;
  margin:2px;
  height:100px;
  display:flex;
  justify-content:flex-start;
  flex-direction:column;
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.content .fileBrowser #folderView .entry.selected{
  font-weight:bold;
  background-color: rgba(0,0,0,0.4);
}
.content .fileBrowser #folderView .entry:hover {
  background-color: LIGHT;
  cursor:pointer;
}
.content .fileBrowser #folderView .entry.selected:hover {
  background-color: DARKEST;
  color:LIGHTEST;
}

.content .fileBrowser #folderView .entry:hover .preview{
  color:DARK;
}

.content .fileBrowser #folderView .entry .preview{
  width: 64px;
  height: 64px;
  margin:8px;
  font-size: 58px;
  color:LIGHT;
}
.content .fileBrowser #folderView .entry .preview img{
  max-width: 100%;
  max-height:100%;
}
.content .fileBrowser #folderView .entry .name{
  max-width:64px;
  padding-left:4px;
  padding-right:4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content .fileBrowser #currentPath{
  height:20px;
  background-color:#AAAAAA;
  color:#555555;
  border:1px solid grey;
  margin:5px;
  padding:2px;
}

.content .fileBrowser .panel{
  flex-grow:1;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  background:rgba(0,0,0,0.1);

}

.content .fileBrowser .panel button{
  margin:4px;
  transition-duration: 0.4s;
  border: 1px solid grey;
  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.4);
  cursor:pointer;
}

.content .fileBrowser .panel button.disabled{
  cursor: auto;
  background-color: #AAA;
  color:#DDD;
}

.content .fileBrowser .panel button:hover{
  border: 1px solid black;
}
.content .fileBrowser .panel button.disabled:hover{
  border: 1px solid grey;
}
.content .fileBrowser .panel .uploadFile{
  flex: 4;
  font-weight:bold;
  background: linear-gradient(#DDD, #DDffDD);
}
.content .fileBrowser .panel .uploadFile:hover{
  background: linear-gradient(#DDD, #AAffAA);
}

.content .fileBrowser .panel #closeButton{
  font-weight:bold;
  flex: 2;
}

.content .fileBrowser .panel #closeButton.insertMode{
  color:white;
  background: linear-gradient(#383, #252);
}

.content .fileBrowser .panel #closeButton.insertMode:hover{
  background: linear-gradient(#5A5, #383);
}

.content .fileBrowser .panel #closeButton.closeMode{
  background: linear-gradient(#DDD, #FFDDDD);
}

.content .fileBrowser .panel #closeButton.closeMode:hover{
  background: linear-gradient(#DDD, #FEE);
}

.content .fileBrowser .panel .createFolder{
  background: linear-gradient(#DDD, #FFFFDD);
}
.content .fileBrowser .panel .createFolder:hover{
  background: linear-gradient(#DDD, #FFFFAA);
}

.content .fileBrowser .panel .destroy:not(.disabled){
  color:white;
  background:linear-gradient(#833, #522);
  border:1px solid #833;
}

.content .fileBrowser .panel .destroy:hover:not(.disabled){
  background:linear-gradient(#A55, #833);
}

.footer{
  text-align:right;
  float:right;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  font-size:8pt;
  color: rgb(255, 255, 255);
  position: fixed;
  bottom:5px;
  right:5px;
  background:rgba(0,0,0,0.4);
  border-radius:5px;
}

.footer a{
  color:inherit;
  text-decoration:none;
}

.footer a:hover{
  text-decoration:underline;
}

.footer div{
  padding:4px;
}

blockquote{
  border-radius:6px;
  padding:5px;
  border:2px dotted rgba(0,0,0,0.4);
}

blockquote .title{
  margin:0px;
  border-bottom:1px dotted grey;
  font-weight:bold;
}

blockquote.info{
  background-color: #BBC9ED;
}

blockquote.warning{
  background-color: #f6e58d;
}

blockquote.danger{
  background-color: #FFAAAA;
}

blockquote.download{
  background-color:LIGHT_GREY;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration:none;
  width:max-content;
  color: LIGHT;
}

blockquote.download.missing {
  color: DARK_GREY;
}

blockquote.download:not(.missing):hover{
  background-color:LIGHT;
  color:DARK;
}

blockquote.download:not(.missing):hover p{
  color:DARK;
}

blockquote.download .preview{
  height:70px;
  width:70px;
  font-size:64px;
  margin:4px;
}

blockquote.download p{
  margin:0;
}

blockquote.download.missing .title{
  color: red;
}

blockquote.download .title{
  color: DARK;
}

blockquote.download p{
  color: LIGHT;
}

blockquote.download .preview img{
  width:100%;
  height:100%;
}

.toc {
  margin-top:10px;
  background-color:LIGHT_GREY;
  border:1px solid LIGHT;
  padding:10px;
  padding-top:0px;
  float: right;
}

.toc .link{
  margin-left:5px;
  margin-right:5px;
  color:DARKEST;
  text-decoration:none;
}

.toc .link:hover{
  text-decoration:underline;
}

.toc h2{
  border:none;
  margin:none;
  background:none;
}

#loadingContainer::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4; 
  z-index: -1;
  background-color:LIGHTEST;
}

#loadingContainer{
  display:none;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

#loadingContainer div{
  opacity: 100%;
}

/*
Markdown extensions
=========================
*/

img[alt$=">"] {
  float: right;
}

img[alt$="<"] {
  float: left;
}

/*
Loading animation
==========================
*/

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: DARK;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
