/* Font faces */
@font-face {
 font-family: "NotoSans";
 src: url("/res/fonts/NotoSans.ttf");
}
@font-face {
 font-family: "NotoSerif";
 src: url("/res/fonts/NotoSerif.ttf");
}
@font-face {
 font-family: "Candara";
 src: url("/res/fonts/Candara.ttf");
}
@font-face {
 font-family: "Docomo";
 src: url("/res/fonts/Docomo.ttf");
}

/* Real css */
html{
  font-family: NotoSans;
  height:100%;
  font-size:11pt;
}

body{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  margin:0px;
  height:100%;
  background-color:lightest;
}

.header{
  border-bottom:1px dotted grey;
  background-size:cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  position:relative;
}

.header h1{
  text-indent: 1%;
  font-weight:normal;
  color: rgb(255, 255, 255); 
  mix-blend-mode: difference;
}

.header .userBar{
  font-style:italic;
  color:light;
  position:absolute;
  right:20PX;
  BOTTOM:0;
  margin:6px;
  text-align:right;
}

.mainContainer{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  width:100%;
}

.navigation{
  border-right:1px dotted grey;
  
  height:100%;
  flex: 1;
  width:auto;
  display:inline-block;
  min-width:180px;
}

.column{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}

.navigation .column{
  padding-left:20px;
}

.navigation div{
  padding-top:5px;
  padding-bottom:5px;
}

.navigation a{
  text-decoration:none;
  color:dark;
}

.navigation .selected{
  font-weight:bold;
}

.navigation .element:hover{
  text-decoration:underline;
  border:1px dotted dark;
}

.content .pageAddress a:hover{
  border: 1px dotted light; 
}

.navigation .sectionTitle{
  font-weight:normal;
  
  text-align:center;
  margin:0px;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:5px;
}

.content{
  flex: 9;
  padding:10px;
  padding-left:20px;
}

.content .pageTitle{
  font-size:2.5em;
  text-transform: uppercase;
  background-color:dark;
  color:lightest;
  padding:6px;
  margin-bottom:6px;
  position:relative;
}

.content .pageTitle .pageToolbar{
  position:absolute;
  display:block;
  bottom:0;
  margin:5px;
  PADDING:5px;
  right:40px;
  font-size:12pt;
  text-transform: none;
}
.pageToolbar a{
  color:lightest;
  text-decoration: none;
}
.pageToolbar a:hover{
  border:1px dotted lightest;
}

.pageToolbar .pageEditButton{
  margin-left:20px;
}

.content .pageSubTitle{
  font-size:1.5em;
  color:light;
  font-style: italic;
}

.content .pageAddress{
  color:light;
  font-style: italic;
}

.content .pageAddress a{
  color:inherit;
}

.content .pageAddress a.selected{
  font-weight: bold;
}


.content h1{
  border-bottom: 1px dotted grey;
  font-size:1.5em
}

.content h2{
  border: 1px solid darkest;
  padding:4px;
  font-size:1em;
  background-color: white;
}

.content h3{
  font-size: 1em;
  font-weight: bold;
  border-bottom:1px dotted grey;
  margin-bottom:-10px;
}

.content code{
  color: #AA0000;
  background-color: #ffe3e3;
}

.content table td, .content table tr, .content table th{
  border:1px solid grey;
  padding:5px;
  border-spacing:0px;
  margin:0px;
}

.content table thead{
  background-color:dark;
  color:lightest;
}

.footer{
  height:24px;
  text-align:center;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  font-size:8pt;
  padding:8px;
  padding-left:0px;
  padding-right:0px;
  font-weight:bold;
  border-top:1px dotted grey;
}

blockquote{
  border-radius:6px;
  padding:5px;
  border:2px dotted rgba(0,0,0,0.4);
}

blockquote .title{
  margin:0px;
  border-bottom:1px dotted grey;
  font-weight:bold;
}

blockquote.info{
  background-color: #BBC9ED;
}

blockquote.warning{
  background-color: #f6e58d;
}

blockquote.danger{
  background-color: #FFAAAA;
}

.toc {
  margin-top:10px;
  background-color:light_grey;
  border:1px solid light;
  padding:10px;
  padding-top:0px;
  display:inline-block;
}

.toc .link{
  margin-left:5px;
  margin-right:5px;
  color:darkest;
  text-decoration:none;
}

.toc .link:hover{
  text-decoration:underline;
}

.toc h2{
  border:none;
  margin:none;
  background:none;
}